@model BlogWithAuthentication.Models.PostModel

<table class="table">
    <tr>
        <td>
            @using (Html.BeginForm("Update", "Home", Model, FormMethod.Post))
            {
                <div class="col-form-label">@Model.Id</div>
                <div class="col-form-label">@Model.Title</div>
                <div class="col-form-label">@Model.TimeStamp</div>
                <label class="col-form-label">Title:</label>
                @Html.TextBoxFor(model => model.Title)
                <label class="col-form-label">Content:</label>
                @Html.TextAreaFor(model => model.Content)
                <button type="submit">Submit</button>
            }
        </td>
    </tr>
</table>
